<section class="container mx-auto" id="hireme"
>
    <div class="w-full flex items-center justify-center my-12">
        <div class="py-12 lg:px-28 px-8">
            <p class="md:text-3xl text-xl font-bold leading-7 text-center text-gray-700">Let’s chat and get a quote!</p>
            <form
                x-data="{ name : '', nameDirty: false, message: '', messageDirty: false, email: '', emailDirty: false, }"
                x-on:submit.prevent=" nameDirty = true; emailDirty = true; messageDirty = true; submitMessage(name, email, message);"
                id="contact"
                name="contact"
                method="POST"
                data-netlify="true"
                >

                <div class="md:flex items-center mt-12">
                    <div class="md:w-72 flex flex-col relative">
                        <label class="text-base font-semibold leading-none text-gray-800">Name</label>
                        <input
                            tabindex="0"
                            arial-label="Please input name"
                            type="text"
                            name="name"
                            x-model="name"
                            x-on:blur="nameDirty = true"
                            class="text-base leading-none text-gray-900 p-3 focus:oultine-none focus:ring-4 focus:ring-yellow-300 mt-4 bg-gray-100
                                border rounded border-gray-200 placeholder-gray-100"
                            placeholder="Please input name"/>
                        <p x-show.transition="nameDirty && name.length == 0" class="text-red-700 absolute -bottom-7">
                            Please fill out your full name.
                        </p>
                    </div>
                    <div class="md:w-72 flex flex-col md:ml-6 md:mt-0 mt-4 relative">
                        <label class="text-base font-semibold leading-none text-gray-800">Email Address</label>
                        <input
                            tabindex="0"
                            arial-label="Please input email address"
                            type="email"
                            name="email"
                            x-model="email"
                            x-on:blur="emailDirty = true"
                            class="text-base leading-none text-gray-900 p-3 focus:oultine-none focus:ring-4 focus:ring-yellow-300 mt-4 bg-gray-100
                                border rounded border-gray-200 placeholder-gray-100"
                            placeholder="Please input email address"/>
                        <p x-show.transition="emailDirty && !isEmail(email)" class="text-red-700 absolute -bottom-7">
                            Please fill out your email.
                        </p>
                    </div>
                </div>
                <div class="md:flex items-center mt-8">
                    <div class="md:w-72 flex flex-col">
                        <label class="text-base font-semibold leading-none text-gray-800">Company name</label>
                        <input
                            tabindex="0"
                            role="input"
                            arial-label="Company"
                            type="company"
                            name="company"
                            class="text-base leading-none text-gray-900 p-3 focus:oultine-none focus:ring-4 focus:ring-yellow-300 mt-4 bg-gray-100
                                border rounded border-gray-200 placeholder-gray-100"
                            placeholder="Please input company name"/>
                    </div>
                    <div class="md:w-72 flex flex-col md:ml-6 md:mt-0 mt-4">
                        <label class="text-base font-semibold leading-none text-gray-800">Country</label>
                        <input
                            tabindex="0"
                            arial-label="Please input country name"
                            type="text"
                            name="country"
                            class="text-base leading-none text-gray-900 p-3 focus:oultine-none focus:ring-4 focus:ring-yellow-300 mt-4 bg-gray-100
                                border rounded border-gray-200 placeholder-gray-100"
                            placeholder="Please input country name"/>
                    </div>
                </div>
                <div>
                    <div class="w-full flex flex-col mt-8 relative">
                        <label class="text-base font-semibold leading-none text-gray-800">Message</label>
                        <textarea
                            tabindex="0"
                            aria-label="leave a message"
                            role="textbox"
                            type="name"
                            name="message"
                            x-model="message"
                            x-on:blur="messageDirty = true"
                            class="h-36 text-base leading-none text-gray-900 p-3 focus:oultine-none focus:ring-4 focus:ring-yellow-300 mt-4
                                bg-gray-100 border rounded border-gray-200 placeholder-gray-100 resize-none"></textarea>
                        <p x-show.transition="messageDirty && message.length == 0" class="text-red-700 absolute -bottom-7">
                            Please enter a message.
                        </p>
                    </div>
                </div>
                <p></p>
                <div class="flex items-center justify-center w-full">
                    <button
                        class="mt-9 text-base font-semibold leading-none text-gray-900 py-4 px-10 bg-yellow-300 rounded hover:bg-yellow-250
                            focus:ring-2 focus:ring-offset-2 focus:ring-yellow-400 focus:outline-none">
                        SUBMIT</button>
                </div>
            </form>
        </div>
    </div>
</section>
