<nav class="bg-white">
  <div class="py-4 space-x-5 flex items-center justify-center">
    <a href="/">
      <img loading="lazy" src="/assets/Logo.svg" alt="Logo" class="w-24 h-24">
    </a>
    <a href="#blog">Blog</a>
    <a href="#contact">Hire Me</a>
  </div>
</nav>
