<img src="/assets/hero.webp" alt="hero" class="mt-12 object-cover">
<h4 class="md:text-md text-gray-500 mt-8 uppercase">Hi I am Lorenzo!</h4>
<h1 class="leading-normal text-2xl lg:text-5xl max-w-xl text-center mt-4">I Design &#38 Develop Custom Digital
    Solutions,</h1>
<h4 class="text-md mt-2 uppercase transform p-1 -rotate-2 bg-yellow-250 text-yellow-900">That will boost your business!</h4>
<p class="max-w-2xl mt-6 text-center">
    You can call me a true Veteran of the Web as I have seen it growing from the early days! Bookings was renaming to
    Booking, Amazon did mainly sold books, Dreamweaver was the number one software to build website and tables could be used
    for layouts!
    <br> It was the glorious end of 90&#39;! and so much have changed since then.
</p></section>