{% extends 'layout.njk' %}

{% block body %}

  {# Content #}
  <section class="container mx-auto prose prose-indigo lg:prose-lg section-spacing">
  <h1 class="py-12">{{ title }}</h1>
    {{ content | safe }}
  </section>

{% endblock body %}